# Environment files
.env
.venv/

# Python cache
*__pycache__/
__pycache__/*
*.py[cod]

# Build / packaging
setup.py
medical_chatbot.egg-info/
data/

# Shell scripts
template.sh

# docker
.dockerignore


